@if (open()) {
  <gv-dialog-shell
    [open]="open()"
    variant="special"
    width="wide"
    eyebrow="Server"
    title="World Relay"
    subtitle="Presence readout, online players, and shard chat for the selected server."
    ariaLabel="Server relay"
    (closed)="closed.emit()"
  >
    <gv-server-chat-panel
      [panel]="panel()"
      [players]="players()"
      [messages]="messages()"
      [customEmojis]="customEmojis()"
      [commands]="commands()"
      [channels]="channels()"
      [activeChannelId]="activeChannelId()"
      [currentPlayerUuid]="currentPlayerUuid()"
      [statusMessage]="statusMessage()"
      [canSend]="canSend()"
      [canModerate]="canModerate()"
      [canBlockServerEntry]="canBlockServerEntry()"
      [isSending]="isSending()"
      [sendHint]="sendHint()"
      [selectedModerationPlayer]="selectedModerationPlayer()"
      [moderationStatusMessage]="moderationStatusMessage()"
      [isModerationSubmitting]="isModerationSubmitting()"
      [canShowAdminPanel]="canShowAdminPanel()"
      [adminEntries]="adminEntries()"
      [adminTotal]="adminTotal()"
      [adminPage]="adminPage()"
      [adminPageSize]="adminPageSize()"
      [adminSearch]="adminSearch()"
      [adminLoading]="adminLoading()"
      [selectedAdminProfileId]="selectedAdminProfileId()"
      [adminProfileDetail]="adminProfileDetail()"
      [grantablePermissions]="grantablePermissions()"
      [socialPlayers]="socialPlayers()"
      [socialPlayersTotal]="socialPlayersTotal()"
      [socialPlayersPage]="socialPlayersPage()"
      [socialPlayersPageSize]="socialPlayersPageSize()"
      [socialPlayersSearch]="socialPlayersSearch()"
      [socialPlayersLoading]="socialPlayersLoading()"
      [friendships]="friendships()"
      [friendsLoading]="friendsLoading()"
      [currentGuild]="currentGuild()"
      [guildInvitations]="guildInvitations()"
      [guildLoading]="guildLoading()"
      (refreshRequested)="refreshRequested.emit()"
      (openServerSelectRequested)="openServerSelectRequested.emit()"
      (grantAdminRequested)="grantAdminRequested.emit()"
      (moderatePlayerRequested)="moderatePlayerRequested.emit($event)"
      (channelSelected)="channelSelected.emit($event)"
      (playerActionRequested)="playerActionRequested.emit($event)"
      (moderationSubmitted)="moderationSubmitted.emit($event)"
      (moderationCleared)="moderationCleared.emit()"
      (adminSearchChanged)="adminSearchChanged.emit($event)"
      (adminPageChanged)="adminPageChanged.emit($event)"
      (adminProfileSelected)="adminProfileSelected.emit($event)"
      (adminPermissionGranted)="adminPermissionGranted.emit($event)"
      (adminPermissionRevoked)="adminPermissionRevoked.emit($event)"
      (adminModerationRequested)="adminModerationRequested.emit($event)"
      (adminNoteAdded)="adminNoteAdded.emit($event)"
      (socialPlayersSearchChanged)="socialPlayersSearchChanged.emit($event)"
      (socialPlayersPageChanged)="socialPlayersPageChanged.emit($event)"
      (friendAddCharacterRequested)="friendAddCharacterRequested.emit($event)"
      (friendAddProfileRequested)="friendAddProfileRequested.emit($event)"
      (friendAcceptRequested)="friendAcceptRequested.emit($event)"
      (friendRejectRequested)="friendRejectRequested.emit($event)"
      (friendshipRemoveRequested)="friendshipRemoveRequested.emit($event)"
      (guildCreateRequested)="guildCreateRequested.emit($event)"
      (guildInviteRequested)="guildInviteRequested.emit($event)"
      (guildInvitationResponded)="guildInvitationResponded.emit($event)"
      (guildRoleChanged)="guildRoleChanged.emit($event)"
      (guildLeaveRequested)="guildLeaveRequested.emit($event)"
      (sendRequested)="sendRequested.emit($event)"
    />
  </gv-dialog-shell>
}
