<button
  type="button"
  pButton
  class="option-card option-card--class p-button p-component"
  [class.option-card--selected]="selected()"
  [attr.title]="entry().lore"
  (click)="selectedClass.emit(entry().option.id)"
>
  <div class="option-card__topline">
    <span class="option-card__icon option-card__icon--image">
      <img [src]="entry().option.iconPath" [alt]="entry().option.name + ' icon'" />
    </span>
    <div class="option-card__heading">
      <span class="option-card__eyebrow">Talent</span>
      <span class="option-card__title">{{ entry().option.name }}</span>
    </div>
    <span
      class="option-card__info-icon"
      pTooltip="{{ entry().lore }}"
      tooltipPosition="top"
      aria-hidden="true"
    >
      i
    </span>
  </div>

  <div class="option-card__bonus-row">
    <span class="option-card__bonus-label">Bonus</span>
    <span class="option-card__bonus">{{ entry().bonusSummary }}</span>
  </div>

  <div class="option-card__footer">
    <span class="option-card__statline">{{ entry().statSummary }}</span>
    <span class="option-card__meta">
      @if (entry().bonusLines.length > 0) {
        {{ entry().bonusLines[0] }}
      } @else {
        No starting bonus
      }
    </span>
  </div>
</button>
